@use "vars" as v;
@use "sass:color" as *;


window#dkm_launcher {
  all: unset;
  background-color: transparent;
  /* background-color: rgba(#181616, 0.3); */
  color: v.$fg-color;

  .not-found {
    padding: 20px;
  }

  .app-launcher {
    border: v.$border-width solid v.$border-color;
    border-radius: v.$border-radius;
    background-color: v.$bg-color;

    .search-bar {
      border-radius: v.$border-radius v.$border-radius 0 0;
      padding: 20px;
      border-style: solid;
      border-bottom-width: v.$border-width;
      border-color: v.$border-color;

      background-color: v.$bg-color;

      > entry {
        all: unset;
      }
    }
  }

  .app-button {
    all: unset;
    background-color: mix(v.$bg-color, v.$fg-color, 95%);
    color: v.$fg-color;

    padding: 10px 15px;
    margin: 0 10px;
    border-radius: v.$border-radius - 2px;

    &:first-child {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;

      border-radius: 0 0 v.$border-radius v.$border-radius;
    }

    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    icon {
      font-size: 30px;
    }
    .description {
      color: mix(v.$fg-color, v.$bg-color, 50%);
    }
  }
}
