@use "vars" as v;
@use "sass:color" as *;

window#dkm_clipboard {
  all: unset;

  .search {
    color: v.$fg-color;
    padding: 20px;
    entry {
      all: unset;
    }
  }

  .clipboard-content {
    background-color: v.$bg-color;
    border-radius: v.$border-radius;
    border: v.$border-width solid v.$border-color;

    .clipboard-list {
      padding: 10px;

      .clipboard-item {
        padding: 10px 20px;
        background-color: mix(v.$bg-color, v.$fg-color, 95%);
        border-radius: v.$border-radius;

        &:hover {
          background-color: v.$bg-color;
        }

        &:focus {
          background-color: v.$bg-color;
        }
      }
    }
  }
}
