@use "vars" as v;
@use "sass:color" as *;

window#quick-settings {
  .header {
    padding: 10px;

    label {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .quick-settings-container {
    background-color: v.$bg-color;
    border: v.$border-width solid v.$border-color;
    border-radius: v.$border-radius;

    .quick-settings-content {
      padding: 10px;
    }

    > * {
      border-radius: inherit;
    }
  }

  .qs-button {
    border-radius: inherit;
    background-color: mix(v.$bg-color, v.$fg-color, 95%);
    padding: 10px;

    .title {
      font-weight: bold;
    }

    .icon {
      font-size: 30px;
    }
  }
}
