@use "vars" as v;

window.Bar {
  font-family: "Berkeley Mono", monospace;
  background: transparent;
  color: v.$fg-color;
  font-weight: bold;

  .wifi-button {
    all: unset;
  }

  > centerbox {
    background: v.$bg-color;
    border-radius: v.$border-radius;
    margin: 10px 20px 0 20px;
    border: 1px solid v.$border-color;
    padding: 10px 10px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
