@use "vars" as v;

window#status-bar {
  background: transparent;
  color: v.$fg-color;
  font-weight: bold;

  > centerbox {
    /* background: v.$bg-color; */
    /* border-radius: v.$border-radius; */
    /* border: v.$border-width solid v.$border-color; */
    margin: 10px 20px 3px 20px;
    /* padding: 5px 10px; */

    > * {
      background: v.$bg-color;
      padding: 6px 10px;
      border-radius: 50px;
      box-shadow: 3px 3px 0px v.$fg-color;
      border: v.$border-width solid v.$border-color;
    }
    .wifi-button {
      all: unset;
    }

    .workspaces {
      .workspace {
      }
    }
  }

  .media {
    .cover {
      min-width: 50px;
      min-height: 25px;
      background-size: cover;
      background-position: center;
      border-radius: v.$border-radius;
      border: 1px solid v.$border-color;
    }

    button {
      all: unset;
      font-size: 15px;
      border-radius: 5px;

      &:hover {
        background-color: red;
      }
    }
  }
}

window#quick-settings > box {
  /* background-color: v.$bg-color; */
  /* border: v.$border-width solid v.$border-color; */
}
