@use "vars" as v;
@use "sass:color" as *;

window#quick-settings {
  .quick-settings-content {
    background-color: v.$bg-color;
    border: v.$border-width solid v.$border-color;
    border-radius: v.$border-radius;
    padding: 10px;
    > * {
      border-radius: inherit;
    }
  }

  .qs-button {
    border-radius: inherit;
    background-color: mix(v.$bg-color, v.$fg-color, 95%);
    padding: 10px;
  }
}
