:root {
  --fg: rgba(200, 192, 147, 1);
  --bg: #181616;
  --border: rgba(220, 215, 186, 1);
  
  --zen-main-browser-background: var(--bg) !important;
  --zen-colors-border: var(--border) !important;
  --toolbar-color: var(--fg) !important;
}

#urlbar[zen-floating-urlbar] #urlbar-background {
  border-color: var(--border) !important;
}

.urlbarView-body-inner {
  border-color: var(--border) !important;
}


.urlbarView-row[selected]{
  color: unset !important;
}

:root:not([inDOMFullscreen="true"]) #tabbrowser-tabbox {
    padding: 0 !important;
}
#tabbrowser-arrowscrollbox,
#zen-sidebar-icons-wrapper {
    margin-right: 1px;
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer  {
    margin: 0 !important;
    border-radius: 9px !important;
  }
}

@media (-moz-bool-pref: "zen.view.compact") {
  @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
    :root:not([inDOMFullscreen="true"]) #tabbrowser-tabpanels, #tabbrowser-tabpanels {
      padding-left: 0 !important;
      padding-top: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}